#root {
  margin: 0 auto;
  text-align: center;
  --green: #61bb61;
  --primary: white;
  --grey: #aaaaaa;
  --black: rgba(0, 0, 0, 0.85);
}
/* header(layout) part */

header {
  display: flex;
  justify-content: space-between;
  color: var(--green);
  padding: 0 20%;
}
header nav {
  display: flex;
}
header nav a {
  margin: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
header nav img {
  padding: 5px;
  height: 15px;
}
/* Homepage part */
.main .title-header {
  max-width: 100vw;
}

.title-big {
  background: var(--green);
  padding: 50px 0 50px;
}
.title {
  font-size: 56px;
  text-decoration: underline;
}
h3 {
  font-size: 24px;
  font-weight: 400;
}
.title,
h3 {
  color: var(--primary);
  margin: 0;
}
.article {
  border: 2px solid var(--grey);
  border-radius: 8px;
  margin: 20px 400px;
  min-height: 200px;
}

.profile {
  display: flex;
  margin: 20px;
  justify-content: flex-start;
}
.author-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 10px 0 0;
}
.username {
  color: var(--green);
  font-weight: 700;
  font-size: 25px;
}
.pages.active {
  background: var(--green);
  color: var(--primary);
}
.previous,
.next {
  color: var(--green);
}
.pages {
  border: 1px solid var(--green);
  border-radius: 10px;
  padding: 4px 15px;
  margin: 10px 10px;
  text-decoration: none;
  color: var(--green);
  width: 30px;
  display: inline-block;
}
.pages:hover {
  background: var(--green);
  color: var(--black);
}
.pagination {
  font-size: 30px;
  color: var(--green);
}
